# React Native
node_modules/
build/
# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace/
ios/Podfile.lock
# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
# Codegen
**/__generated__/
**/build/generated/
# Metro
.expo/
.expo-shared/
# Misc
*.log
*.tmp
*.swp
*.swo
*.DS_Store
.env
# macOS
*.xcuserstate
# VSCode
.vscode/
# Jest
coverage/
# TypeScript
*.tsbuildinfo
# Bundler
vendor/bundle/
# Ruby
*.gem
# Yarn
yarn.lock
# Local Env
ios/.xcode.env.local
# Fastlane
ios/fastlane/report.xml
android/fastlane/report.xml
